################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tek-service-now/CopilotIndices/17.14.1641.39856
/.vs/tek-service-now/FileContentIndex
/.vs
/files

# Log and session folders
files/_log/
files/_sessions/

# Or ignore all log files
*.log
